<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami" id="link_1">[base url]/api/whoami</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:127.0.0.1","language":"en-US,en;q=0.9","software":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          By <button id="openLinksButton">EDISON MONDAL</button> For <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
        </p>
      </div>
   </body>

   <script>
    const domain = window.location.origin + "/api/whoami"
    
    
    document.querySelector('#link_1').innerText = domain


    
    const openLinksButton = document.getElementById("openLinksButton");

    openLinksButton.addEventListener("click", function () {
        // Open the first link in a new tab/window
        window.open("https://web.facebook.com/profile.php?id=100009253036719", "_blank");

        // Open the second link in a new tab/window with a slight delay
        setTimeout(function () {
          window.open("https://www.linkedin.com/in/edison-mondal-a60907216/", "_blank");
        }, 100); // Delay 
    });

  </script>
</html>
